* {
    padding: 0;
    margin: 0;
  }
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    background-color: #860404;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand {
    color: #db0000;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: #860404;
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
  }

   /*
    Main Content
  */
   
  main {
    padding: 32px;
    flex: 1;
  }
   
  .content {
    margin: 0 auto;
    min-height: 100%;
  }
   
  .content .content__heading {
    font-weight: normal;
  }
  
  
   
  /*
    Restaurants
  */
   
  .restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }
   
  /*
   customer review
  */
  .customer-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 30px;
    margin: 10px 0;
  }

  .container-customerReview {
    margin: 0 auto;
    min-width: 80%;
  }
   
  /*
    Resto Item
  */
  .review-item {
    width: 96%;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #666666;
  }

  .resto-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
   
  .resto-item__header {
    position: relative;
  }
   
  .resto-item .resto-item__header .resto-item__header__poster {
    width: 100%;
  }
   
  .resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
  }
   
  .resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 10px;
  }
   
  .resto-item .resto-item__content {
    padding: 16px;
  }
   
  .resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
  }
   
  .resto-item .resto-item__content h3 a {
    color: #020202;
    text-decoration: none;
  }
   
  .resto-item .resto-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
   
   
  /*
  Resto
  */
   
  .resto {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
   
  .resto .resto__poster {
    width: 100%;
    max-width: 400px;
  }
   
  .resto .resto__info h4 {
    margin: 8px 0;
  }
   

  /*
   Like
  */

.liked {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700
}

.like {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: transparent;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.liked:hover, .liked:focus, .like:hover, .like:focus {
  color: #020202;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

/* hero elements */
.footer{
  margin-top: 30px;
  text-align: center;
  background-color: #860404;
  box-shadow: 2px 2px 2px 2px #020202;
  color: white;
  padding: 10px;
  clear: both;
}

.jumbotron {
  font-size: 20px;
  padding: 100px;
  background-color: whitesmoke;
  background-image: url("../public/images/heros/hero-image_4.jpg");
  background-size: 100%;
  text-align: center;
}

h1{
  color: whitesmoke;
  text-shadow: 2px 3px 1px black;
}

.tagline{
  color: whitesmoke;
  text-shadow: 2px 3px 1px black;
}

/* Skip to content */
.nav-link{
  text-decoration: none;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.nav-link:hover{
  text-decoration: none;
  box-shadow: #020202;
  color: black;
  display: block;
  transition: 0.3s;
}

a{
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

button{
  min-width: 44px;
  min-height: 44px;
}

a:hover{
  text-decoration: none;
  box-shadow: #020202;
  color: rgb(61, 12, 240);
  display: block;
  transition: 0.3s;
}

